h1{
    text-align: center;
    color: red;
}
h4{
    text-align: center;
    color: yellow;
}
.imag{
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.text, .code{
    margin-top: 50px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
b{
    text-align: center;
    
}
caption{
    padding-top: 5px;
    font-style: italic;
    font-size: 20px;
    color:rgba(255, 255, 255, 0.671);
}
td{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blanchedalmond;
}
th{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
}
img{
    margin-top: 50px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
button{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background:#5E7DE3;
    border-radius: 3px;
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}
button:hover{
    background: rgb(94, 125, 227,.9);
}
.overlay{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay.active{
    visibility: visible;
}
.popup{
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
    border-radius: 3px;
    font-family: 'Monserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;


}
.popup .btn-cerrar{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3s ease all;
}
.popup .btn-cerrar:hover{
    color: black;
}
.popup h3{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: justify;
    /*opacity: 0;*/
}
